.main-container {
  width: 100%;
}

.slider {
  width: 90%;
  margin: -280px auto 0;
}

.sliderImageContainer {
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.sliderImageContainer img {
  width: 1200px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.32), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
}
